flask
flask-sqlalchemy
flask-login
flask-socketio
flask-migrate
flask-jwt-extended
flask-bcrypt
flask-wtf
email-validator
sqlalchemy
psycopg2-binary
eventlet
python-dotenv
pyjwt
requests
flask-restful
flask-cors
flasgger
